@font-face {
    font-family:'title1';
    src: url('./fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf') format('truetype'),
        url('./fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf') format('woff');

    font-family:'title2_3Text';
    src: url('./fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf') format('truetype'),
        url('./fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf') format('woff');
}

body {
    background-color: #eaeaea;
    margin: 0px;
    padding: 0px;
    font-family: 'title2_3Text';
}

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000000;
    margin-bottom: -1.5em;
}

.canvasHeader {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

#ghostImage {
    width: 20%;
    height: auto;
}

.leftHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#slogan {
    display: flex;
    font-size: 30px;
    margin-top: 1em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

#logoTitle {
    width: 17em;
    height: auto;
    margin-left: 3em;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    padding-right: 5em;
    padding-top: 5em;
    padding-left: 4em;
    align-items: flex-start; 
    margin-top: 0px; 
}

.PageMenu {
    display: flex;
    margin-right: 15em;
    margin-left: 3em;
    font-size: 1.3em;
}

#MenuFilter {
    font-size: 1.3em;
    color: #8b0000;
    padding-right:1em;
    padding-left: 4em;
    font-family: 'title2_3Text';

}

#mainPage {
    border-top: 5px solid #8b0000;
    text-decoration: none;
    color:black;
}

#reviewPage {
    padding-left: 20%;
    border-top: 2px solid #8b0000;
    text-decoration: none;
    color:black;
}

#recommendationPage {
    padding-left: 20%;
    border-top: 2px solid #8b0000;
    text-decoration: none;
    color:black;
}

#imprintText {
    padding: 1em;
    padding-top: 3em;
}

/*for mobile screen 600px */
@media only screen and (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
        
    }

    #logoTitle {
        padding-left: 2em;
    }


    .PageMenu {
        display: flex;
        flex-direction: column;
    }

    #mainPage {
        padding-left: 2em;
    }

    .rightHeader {
        display: flex;
        flex-direction: column;
    }

    #searchbar {
        margin-left: 5em;
        margin-top: 2em;
    }


    .footer {
        display: flex;
        flex-direction: column;
    }

    #logoTitle2 {
        width: 8em;
        height: auto;
    }

    .about, .contact, .imprint {
        padding-top: 3em;
    }
}